<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<configuration status="WARN" monitorInterval="60">
    <!--先定义所有的appender-->
    <Appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS}[%p]%m%n"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>


        <RollingFile name="RollingFileInfo" fileName="/tmp/logs/coke/coke-info.log"
                     filePattern="/tmp/logs/coke/$${date:yyyy-MM}/coke-info-%d{yyyyMMdd}-%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss:SSS}[%p]%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <!-- 接口调用日志 -->
        <RollingFile name="RollingFileAccess" fileName="/tmp/logs/coke/coke-access.log"
                     filePattern="/tmp/logs/coke/$${date:yyyy-MM}/coke-access-%d{yyyyMMdd}-%i.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss:SSS}[%p]%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>


    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <Loggers>

        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.mybatis" level="INFO"/>

        <AsyncLogger name="accessLogger" level="INFO" additivity="false">
            <Appender-ref ref="RollingFileAccess"/>
            <Appender-ref ref="Console"/>

        </AsyncLogger>

        <AsyncLogger name="infoLogger" level="INFO" additivity="false">
            <Appender-ref ref="RollingFileInfo"/>
            <Appender-ref ref="Console"/>

        </AsyncLogger>

        <Root level="INFO">
            <appender-ref ref="Console"/>
            <Appender-ref ref="RollingFileInfo"/>
            <Appender-ref ref="RollingFileAccess"/>
        </Root>

    </Loggers>

</configuration>